.mgt20 {
  margin-top: 20px;
}
.mgb20 {
  margin-bottom: 20px;
}
.mgl20 {
  margin-left: 20px;
}
.mgr20 {
  margin-right: 20px;
}
.pdt20 {
  padding-top: 20px;
}
.pdb20 {
  padding-bottom: 20px;
}
.pdl20 {
  padding-left: 20px;
}
.pdr20 {
  padding-right: 20px;
}
.mgt10 {
  margin-top: 10px;
}
.mgb10 {
  margin-bottom: 10px;
}
.mgl10 {
  margin-left: 10px;
}
.mgr10 {
  margin-right: 10px;
}
.pdt10 {
  padding-top: 10px;
}
.pdb10 {
  padding-bottom: 10px;
}
.pdl10 {
  padding-left: 10px;
}
.pdr10 {
  padding-right: 10px;
}
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
.fn12 {
  font-size: 12px;
}
.h12 {
  height: 12px;
}
.ln1 {
  line-height: 1;
}
.fn14 {
  font-size: 14px;
}
.h14 {
  height: 14px;
}
.fn16 {
  font-size: 16px;
}
.h16 {
  height: 16px;
}
.fn400 {
  font-weight: 400;
}
.fn700 {
  font-weight: 700;
}
