.tooltip {
  position: absolute;
  text-align: left;
  padding: 10px;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.7);
  border: 0px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  pointer-events: none;
  border-radius: 3px;
  z-index: 10;
  opacity: 0;
  p {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
