@import "../../../styles/assets/motion.scss";
@import "../../../styles/assets/constant.scss";

.notice-group {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  z-index: 999;
  text-align: center;
}
.notice {
  display: block;
  margin-bottom: 20px;
  pointer-events: none;
  padding: 8px 16px;
  line-height: 1;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 2px;
  color: $font-color-normal;
  font-size: 12px;

  &.success {
    .notice-icon {
      fill: #80d225;
    }
  }
  &.error {
    .notice-icon {
      fill: #ee4630;
    }
  }
  &.warning {
    .notice-icon {
      fill: #ffbf00;
    }
  }
}
.notice-icon {
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin-right: 8px;
}
